.section-container-RightSection {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 6rem;
}

.section-container-RightSection h1 {
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: normal;
}
.line-RightSection {
  border: 0;
  height: 1px;
  width: 100%;
  background: lightgray;
}
