.choose-RightSection-Account {
  margin: 2rem 2rem 2rem 1rem;
  display: grid;
  place-items: center;
  border: 1px solid lightgray;
}

.info-RightSection-Account {
  margin: 2rem 2rem 2rem 1rem;
  display: flex;
  border: 1px solid lightgray;
}

.icon-RightSection-Account {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  color: lightgray;
}
