.checkoutPayment-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.checkoutPayment-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid lightgray;
  width: 30vw;
  height: 85vh;
}

.checkoutPayment-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutPayment-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  height: 15vh;
  font-size: 3vw;
}

.checkoutPayment-dollars {
  display: grid;
  grid-template-columns: repeat(6, 4.9vw);
  column-gap: 0.1vw;
  height: 4.9vw;
}

.checkoutPayment-dollars > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 4.9vw;
  height: 4.9vw;
}

.checkoutPayment-789 {
  display: grid;
  grid-template-columns: repeat(4, 7.5vw);
  column-gap: 0.1vw;
  height: 5vw;
  padding-top: 5px;
}

.checkoutPayment-789 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 7.2vw;
  height: 5vw;
}

.checkoutPayment-456 {
  display: grid;
  grid-template-columns: repeat(4, 7.5vw);
  column-gap: 0.1vw;
  height: 5vw;
  padding-top: 5px;
}

.checkoutPayment-456 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 7.2vw;
  height: 5vw;
}

.checkoutPayment-123 {
  display: grid;
  grid-template-columns: repeat(4, 7.5vw);
  column-gap: 0.1vw;
  height: 5vw;
  padding-top: 5px;
}

.checkoutPayment-123 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 7.2vw;
  height: 5vw;
}

.checkoutPayment-000 {
  display: grid;
  grid-template-columns: repeat(4, 7.5vw);
  column-gap: 0.1vw;
  height: 5vw;
  padding-top: 5px;
}

.checkoutPayment-child-00 {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 14.8vw;
  height: 5vw;
}

.checkoutPayment-000 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 7.2vw;
  height: 5vw;
}

.checkoutPayment-methods {
  display: flex;
  justify-content: center;
  border: 1px solid lightgray;
  background-color: lightgray;
}

.checkoutPayment-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4vh;
}
