.container-paymentComplete {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-paymentComplete {
  text-transform: uppercase;
  font-size: 2.9vw;
}

.subheading-paymentComplete {
  font-size: 1.9vw;
  padding-bottom: 2rem;
}

.summary-container-paymentComplete {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.summary-container-paymentComplete span {
  font-size: 1.4vw;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.summary-paymentComplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.hr-paymentComplete {
  border: 0;
  height: 1px;
  width: 100%;
  background: black;
  margin: 1rem 0;
}

.item-paymentComplete {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.3rem 0;
  font-size: 1.3vw;
}

.line-paymentComplete {
  border: 1px solid black;
  width: 100%;
}

.button-container-paymentComplete {
  padding-top: 3rem;
}

.button-container-paymentComplete button {
  width: 15rem;
  height: 4rem;
  color: white;
  background-color: rgb(45, 85, 118);
  font-size: 1.4vw;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
