.grid-container-product {
  display: grid;
  height: 100%;
  grid-template-rows: 9% 91%;
  border: 1px solid lightgray;
}

.item-topbar-product {
  display: flex;
  padding: 0 20px;
  grid-column: 1/-1;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}

.item-category-box-container-product {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 50% 50%;
  grid-auto-rows: 50%;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-category-box-container-product::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-category-box-container-product {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.item-category-box-product {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  cursor: pointer;
}

.outOfStock-product {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  cursor: not-allowed;
  opacity: 0.5;
}

.image-product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 60%;
  object-fit: contain;
}
