.container-CreateSpecial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-CreateSpecial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 80%;
  margin-bottom: 1rem;
  font-size: 2.5vw;
}

.top-CreateSpecial span {
  cursor: pointer;
  font-size: 2vw;
}

.item-CreateSpecial {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.item-CreateSpecial span {
  font-size: 1.5vw;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.item-CreateSpecial input {
  font-size: 1.5vw;
  padding: 0.5rem 2rem;
  border: 1px solid lightgray;
}

.button-CreateSpecial {
  align-self: flex-end;
  margin-top: 3rem;
  margin-right: 8rem;
  padding: 1rem 4rem;
  color: white;
  background-color: orange;
  border: none;
  font-size: 1.5vw;
  border-radius: 50px;
  cursor: pointer;
}
