.main-container-InvoiceItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-container-InvoiceItem::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-container-InvoiceItem {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.item-InvoiceItem {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 2fr;
  justify-items: center;
  align-items: center;
  padding: 1rem 0;
}

input[type='checkbox'] {
  transform: scale(2);
  cursor: pointer;
}

.item-InvoiceItem span {
  font-size: 1.3rem;
}

.start-item-InvoiceItem {
  justify-self: flex-start;
}
