.sidebar-grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 7fr;
  grid-auto-rows: minmax(auto, auto);
  justify-content: start;
  align-content: center;
  height: 100%;
  width: 5vw;
  justify-items: center;
  align-items: center;
  background-color: steelblue;
  color: white;
}

.grid-item {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: steelblue;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.grid-item-home {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(45, 85, 118);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
