.container-LeftSection-Special {
  margin: 2rem 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.search-container-LeftSection-Special {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  height: 4rem;
}

.search-container-LeftSection-Special span {
  font-size: 3rem;
  text-transform: uppercase;
  padding-right: 2rem;
}

.search-container-LeftSection-Special input {
  width: 20vw;
  box-sizing: border-box;
  border: 1px solid lightgray;
  font-size: 1.5rem;
  background-color: white;
  margin-right: 1rem;

  background-image: url(/src/assets/images/search.png);
  background-size: 25px 25px;
  background-position: 20px 20px;
  background-repeat: no-repeat;
  padding: 18px 20px 18px 60px;
}

.line-LeftSection-Special {
  border: 0;
  height: 1px;
  width: 100%;
  background: black;
  align-self: center;
}

.btn-container-LeftSection-Special {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.btn1-LeftSection-Special {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid lightgray;
  background-color: darkgray;
  cursor: pointer;
}

.btn2-LeftSection-Special {
  font-size: 2rem;
  text-transform: uppercase;
  font-stretch: condensed;
  padding: 0.5rem 0rem;
  border: none;
  background-color: white;
  cursor: pointer;
}
